{% extends "base.html" %}
{% load static %}

{% block sidebar %}
    <p class="bodyText">We would appreciate researchers <a href="acknowledgements.php">acknowledge</a> IslandViewer and
        any datasets that they have used. <br/></p>

    {% include "citation.html" %}
{% endblock sidebar %}

{% block content %}
    <p class="pageName">Download</p>

    <p class="bodyText"><span class="subHeader">GI Datasets</span></p>

    <p class="bodyText">All predicted GIs can be downloaded for the following tools:</p>

    <ol class="bodyText">
        <li><b>IslandViewer (all methods)- (<a href="datasets/all_gis_islandviewer_iv4.xlsx.tar.gz">Excel</a>,
            <a href="datasets/all_gis_islandviewer_iv4.txt.tar.gz">TAB</a>,
            <a href="datasets/all_gis_islandviewer_iv4.csv.tar.gz">CSV</a><!--,
            <a href="datasets/all_gis_islandviewer_nucleotide.fasta.tar.gz">Nucleotide FASTA</a>,
            <a href="datasets/all_gis_islandviewer_protein.fasta.tar.gz">Protein FASTA</a>-->)
        </b></li>
        <li><b>IslandPick - (<a href="datasets/all_gis_islandpick_iv4.xlsx.tar.gz">Excel</a>,
            <a href="datasets/all_gis_islandpick_iv4.txt.tar.gz">TAB</a>,
            <a href="datasets/all_gis_islandpick_iv4.csv.tar.gz">CSV</a><!--,
            <a href="datasets/all_gis_islandpick_nucleotide.fasta.tar.gz">Nucleotide FASTA</a>,
            <a href="datasets/all_gis_islandpick_protein.fasta.tar.gz">Protein FASTA</a>-->)
        </b></li>
        <li><b>IslandPath-DIMOB - (<a href="datasets/all_gis_islandpath_dimob_iv4.xlsx.tar.gz">Excel</a>,
            <a href="datasets/all_gis_islandpath_dimob_iv4.txt.tar.gz">TAB</a>,
            <a href="datasets/all_gis_islandpath_dimob_iv4.csv.tar.gz">CSV</a><!--,
            <a href="datasets/all_gis_islandpath_dimob_nucleotide.fasta.tar.gz">Nucleotide FASTA</a>,
            <a href="datasets/all_gis_islandpath_dimob_protein.fasta.tar.gz">Protein FASTA</a>-->)
        </b></li>
        <li><b>SIGI-HMM - (<a href="datasets/all_gis_sigi_hmm_iv4.xlsx.tar.gz">Excel</a>,
            <a href="datasets/all_gis_sigi_hmm_iv4.txt.tar.gz">TAB</a>,
            <a href="datasets/all_gis_sigi_hmm_iv4.csv.tar.gz">CSV</a><!--,
            <a href="datasets/all_gis_sigi_hmm_nucleotide.fasta.tar.gz">Nucleotide FASTA</a>,
            <a href="datasets/all_gis_sigi_hmm_protein.fasta.tar.gz">Protein FASTA</a>-->)
        </b></li>
        <li><b>The Islander prediction database can be downloaded
            <a href="http://bioinformatics.sandia.gov/islander/download.html">here</a>. Islander predictions available
            in IslandViewer - (<a href="datasets/all_gis_islander_iv4.xlsx.tar.gz">Excel</a>,
            <a href="datasets/all_gis_islander_iv4.txt.tar.gz">TAB</a>,
            <a href="datasets/all_gis_islander_iv4.csv.tar.gz">CSV</a>)
        </b></li>

    </ol>

    <p class="bodyText">The original <a href="datasets/original_positive.xls">positive</a> and <a
            href="datasets/original_negative.xls">negative</a> GI datasets for <a
            href="datasets/original_chromosomes.xls">118 bacterial chromosomes</a> (in <a
            href="http://www.biomedcentral.com/1471-2105/9/329" target="_blank">Langille et al., 2008</a>) may be used
        for evaluating sequence composition based GI predictors. </p>
    </br>
    <p class="subHeader">Source Code<a name="source"></a></p>

    <p class="bodyText">Please note that the following three methods are integrated into
        <strong>IslandViewer</strong>: IslandPick, IslandPath-DIMOB and SIGI-HMM. Moreover, Islander predictions are
        available for some pre-computed genomes.</p>

    <ol class="bodyText">
        <li><strong>IslandPick</strong> is currently very dependent on an in-house MySQL database of all
            published genomes, and is optimized for use on our computer cluster. Although it would require a significant
            amount of effort for a casual user to install, we still believe in open access to our software. Therefore, those
            researchers with sophisticated bioinformatics backgrounds are welcome to view and use our source code, which is
            available under a GPL license <a href="datasets/IslandPick_0.2.tar.gz">here</a>.</li>

        <li><strong>IslandPath-DIMOB</strong> source code is available under a GPL license <a
                href="datasets/islandpath_dimob_v1.0.0.tar.gz">here</a> or in the <a href="https://github.com/brinkmanlab/islandpath">
            Brinkman lab github</a>. IslandPath-DIMOB requires that <a href="http://www.bioperl.org/" target="_blank">Perl,
            BioPerl, and other perl libraries </a> and <a href="http://hmmer.janelia.org/" target="_blank">HMMER</a> be
            installed on the user's computer. </li>

        <li><strong>SIGI-HMM</strong> is available for download <a
                href="http://www.uni-goettingen.de/en/research/185810.html" target="_blank">here</a>. </li>

        <li><strong>Islander</strong> is available for download <a
                href="http://bioinformatics.sandia.gov/software/index.html" target="_blank">here</a>. </li>
    </ol>

    <p class="bodyText">We would encourage users to <a href="{% url 'contactus' %}">contact us</a> with any special
        requests or concerns. <br/></p>
{% endblock content %}
