{% extends "base.html" %}
{% load static %}

{% block sidebar %}
    <p class="bodyText"> If you need further assistance, please feel free to email us at <a
            href="mailto:islandpick-mail@sfu.ca">islandpick-mail@sfu.ca</a> with your enquiries. Thank you.</p>
{% endblock sidebar %}


{% block content %}
    <p class="pageName">HTTP API</p>

    <p class="bodyText">IslandViewer 4 comes with an HTTP API to enable the batch submission of genomes and the
        retrieval of genomic island predictions using any or the combination of tools integrated in IslandViewer 4.
    </p>
    </br>
    <p class="subHeader">Available functions</p>
    <p class="bodyText">The API currently enables to:</p>
    <ul class="bodyText">
        <li>Query the availability of reference and precomputed genomes</li>
        <li>Submit custom genomes (draft or complete) to IslandViewer 4</li>
        <li>Retrieve information about already submitted genomes - only for authenticated users</li>
        <li>Query the status of submitted genomes</li>
        <li>Download the Genbank including genomic island predictions, and the reordered concatenated contigs for draft
            genomes</li>
        <li>Download the table summarizing genomic island predictions</li>
        <li>Query the reference genomes used for IslandPick predictions by comparative genomics, query possible genomes to
            use for IslandPick predictions using standard or custom cutoffs for distance, and resubmit an IslandPick analysis.</li>
    </ul>
    </br>
    <p class="subHeader">How does it work?</p>
    <p class="bodyText">
        The HTTP API can be used as an anonymous user or an authenticated user. To use the API as an anonymous user, simply use
        an empty authentication token. To use the API as an authenticated user, please <span class="green">log in</span> first (currently available
        authentication possibilities are Github, Google, or Twitter) and then click on the <a href="{% url "iv_social:user_rest_token" %}">JOBS</a> menu 
        to find your unique HTTP API authentication token. Users can submit genomes and retrieve results using various programming language such 
        as cURL, python or perl (see below for examples). After a successful genome submission, the interface returns a unique job token that 
        can be used to retrieve all information about the status of the submission as well as prediction results. Please note that using the API as 
        an anonymous user requires to carefully store the job token to be able to access the GI results when they become available. Using the API as an
        authenticated user further enables to retrieve all information, including the required job token, about all genomes
        previously submitted by the same user. </p> 
    <p class="bodyText">
        During a first evaluation period of the HTTP API usage, genome submissions using the API are limited to rates of 2/minute, 30/hour, 
        and 200/day and per user for both authenticated and anonymous users. Requests using the API are limited to 10/minute and 
        120/hour per user. These rates will be adapted based on user experience and as we further improve the service.
        Please <a href="{% url 'contactus' %}">contact us</a> if you encounter major problems with rate limitations.</p>
    <p class="bodyText">
        To visualize results of a genome submitted using the HTTP API in IslandViewer interactive web interface, please modify the following
        url with the correct job token: http://www.pathogenomics.sfu.ca/islandviewer/results/job_token.</p>
    <p class="bodyText">
        Please note that API authentication tokens are only valid for a certain time. You can find the expiry date and request a new authentication token if 
        necessary in the menu <a href="{% url "iv_social:user_rest_token" %}">JOBS - HTTP API Token.</a></p>
    </br>
    <p class="subHeader">cURL examples</p>
    <p class="bodyText">We provide here examples of the syntax to use the various HTTP API functionalities of
        IslandViewer 4 using cURL, a command line tool for getting or sending files using URL syntax. Please place your authentication token where indicated and replace the job token by the appropriate value.</p>
    <p class="bodyText">- Query the availability of reference and precomputed genomes</p>
    <pre>
curl http://www.pathogenomics.sfu.ca/islandviewer/rest/genomes/ -H 'x-authtoken:your_authentication_token'
</pre>
    <p class="bodyText">- Submission of custom genomes (draft or complete) to IslandViewer 4</p>
    <p class="bodyText">For <strong>complete</strong> genomes:</p>
    <pre>
curl -X POST -H 'x-authtoken:your_authentication_token' -Fgenome_file=@tiny.gbk -Fgenome_name="my genome" -Femail_addr="me@email.addr.com" -Fformat_type="GENBANK" http://www.pathogenomics.sfu.ca/islandviewer/rest/submit/
</pre>
    <p class="bodyText"> For <strong>draft</strong> genomes, please provide the accession number of the desired reference genome for contig reordering with the option -Fref_accnum. To obtain a list of available reference genomes, please see above.</p>
    <pre>
curl -X POST -H 'x-authtoken:your_authentication_token' -Fref_accnum="NC_022792.1" -Fgenome_file=@tiny.gbk -Fgenome_name="my test" -Femail_addr="me@email.addr.com" -Fformat_type="GENBANK" http://www.pathogenomics.sfu.ca/islandviewer/rest/submit/
</pre>
    <p class="bodyText">- Retrieve information about already submitted genomes - only for authenticated users </p>
    <pre>
curl http://www.pathogenomics.sfu.ca/islandviewer/rest/jobs/ -H 'X-authtoken:your_authentication_token'
</pre>
    <p class="bodyText">- Query the status of already submitted genomes</p>
    <pre>
curl http://www.pathogenomics.sfu.ca/islandviewer/rest/job/job_token/ -H 'X-authtoken:your_authentication_token'
</pre>
    <p class="bodyText">- Download the Genbank including genomic island predictions, and the reordered concatenated
        contigs for draft genomes</p>
    <pre>
curl http://www.pathogenomics.sfu.ca/islandviewer/rest/job/job_token/download/genbank/ -H 'x-authtoken:your_authentication_token'
</pre>
    <p class="bodyText">- Download the table summarizing genomic island predictions</p>
    <pre>
curl http://www.pathogenomics.sfu.ca/islandviewer/rest/job/job_token/download/tab/ -H 'x-authtoken:your_authentication_token'
</pre>
    <p class="bodyText">- Query possible genomes to use in IslandPick comparative genomics predictions comparison using
        standard or custom cutoffs for distance, and resubmit an IslandPick analysis. Please note that, as the number of reference genomes grows,
        choosing very broad distance cutoffs might results in too many genomes to be returned. </p>
    <pre>
curl http://www.pathogenomics.sfu.ca/islandviewer/rest/job/job_token/islandpick/ -H 'x-authtoken:your_authentication_token'
</br>
curl http://www.pathogenomics.sfu.ca/islandviewer/rest/job/job_token/islandpick/picker/ -H 'x-authtoken:your_authentication_token'
</br>
curl "http://www.pathogenomics.sfu.ca/islandviewer/rest/job/job_token/islandpick/picker/?min_cutoff=0.02&max_dist_single_cutoff=0.15&max_cutoff=0.21&min_compare_cutoff=3&max_compare_cutoff=6&min_gi_size=4000" -H 'x-authtoken:your_authentication_token'
</br>
curl http://www.pathogenomics.sfu.ca/islandviewer/rest/job/job_token/islandpick/picker/ -H 'x-authtoken:your_authentication_token' -X POST -d '{ "min_cutoff": 0.02, "max_dist_single_cutoff": 0.15, "max_cutoff": 0.21 }'
</br>
curl http://www.pathogenomics.sfu.ca/islandviewer/rest/job/job_token/islandpick/rerun/ -H 'x-authtoken:your_authentication_token' -X POST -d '{ "genomes": ["NZ_CP008896.1", "NZ_CP012400.1", "NZ_CP011317.1"], "min_gi_size": 8000 }'
</pre>
    </br>
    </br>
    <p class="subHeader">Perl script example</p>
    <p class="bodyText">We provide here an example of perl script to submit a genome to IslandViewer 4. Please place your authentication token where indicated. Further
        functions can be built by changing the code to reflect the syntax provided above in cURL examples.</p>
    <pre>
#!/usr/bin/perl
print "Content-type: text/html\n\n";
 
use HTTP::Request::Common;
use LWP::UserAgent;
use CGI qw(:standard);
use strict;
use warnings;
 
my ($file, $result, $message);
 
$file = "tiny.gbk";
 
my $ua = LWP::UserAgent->new;
my $req = $ua->request(POST 'http://www.pathogenomics.sfu.ca/islandviewer/rest/submit/',
          (Content_Type => 'form-data',
	   'x-authtoken' => 'your_authentication_token' ),
          Content => [
        email_addr => 'my@email.address.com',
        format_type => "GENBANK",
        genome_name => "my sample genome",
        genome_file => ["$file"],
#  For incomplete genomes include a reference accession
#        ref_accnum => "NC_022792.1"
          ]
);
 
print "\nRESPONSE -- \n" . $req->as_string;
 
# Check the outcome of the response
if ($req->is_success) {
    print $req->content;
}
else {
  print "\n in else not success\n";
}
</pre>
    </br>
    </br>
    <p class="subHeader">Python script example</p>
    <p class="bodyText">We provide here an example of python script to submit a genome to IslandViewer 4. Please place your
        authentication token where indicated, and add the correct genome file in place of "mygenome.gbk". To build
        further functions, please change the code to reflect the syntax provided above in cURL examples.</p>

    <pre>
import requests, sys
from requests_toolbelt.multipart.encoder import MultipartEncoder

 
server = "http://www.pathogenomics.sfu.ca/islandviewer"
ext = "/rest/submit/"

mygenome="mygenome.gbk"

multipart_data = MultipartEncoder(
    fields={ "format_type": "GENBANK",
             'email_addr': 'my@email.address.com',
#  For incomplete genomes include a reference accession
#             'ref_accnum': 'NC_022792.1',
             'genome_file': ('filename', open(mygenome, 'rb'), 'text/plain')}
)
headers={'Content-Type': multipart_data.content_type,
         'x-authtoken': 'your_authentication_token'}

r = requests.post(server+ext, headers=headers, data=multipart_data)
 
if not r.ok:
  r.raise_for_status()
  sys.exit()
 
decoded = r.json()
print repr(decoded)
</pre>
{% endblock content %}
